@page
@model Fundacionproj.Pages.SupportModel
@{
}
<style>
    /* Most of the css structure and the html "class" tags where obtained through GPT *4 */
    .card-header {
        background-color: transparent;
        color: #000015;
        border-bottom: none;
        font-size: 1.25rem;
    }

    .card-body {
        background-color: inherit;
        display: flex;
        flex-direction: column;
    }

    .pricing-card-title {
        font-size: 2rem;
        margin-bottom: 0;
        line-height: 1;
        color: #000015;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
        text-align: left;
    }

        .list-unstyled li {
            margin-bottom: 20px !important; 
            display: flex;
            align-items: center;
            font-size: 1rem;
            color: black;
        }

            .list-unstyled li::before {
                content: "✓ "; 
                margin-right: 10px;
                color: #0275D8;
                font-size: 1.2rem;
            }

    .btn-outline-dark {
        background-color: #FFFFFF;
        color: #000015;
        border-color: #000015;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .btn-outline-dark:hover {
            background-color: #000015;
            color: #FFFFFF;
        }

    .btn-block {
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
        border-radius: 50px;
    }

    .d-flex {
        display: flex;
    }

    .align-items-stretch {
        align-items: stretch;
    }

    .flex-grow-1 {
        flex-grow: 1;
    }

    .btn-hover {
        transition: all 0.3s ease;
    }

        .btn-hover:hover {
            background-color: #000015 !important;
            color: #FFFFFF !important;
            border-color: #000015 !important;
        }

    
    .card-body .list-unstyled li {
        margin-bottom: 20px !important;
        display: flex !important;
        align-items: center !important;
        font-size: 1rem !important;
        color: black !important;
    }

        .card-body .list-unstyled li::before {
            content: "✓ " !important;
            margin-right: 10px !important;
            color: #0275D8 !important;
            font-size: 1.2rem !important;
        }

    body {
        
        font-family: Arial, sans-serif;
        background: linear-gradient(45deg, White, #FFFFFF);
    }

.card-body {
    background-color: inherit;
    display: flex;
    flex-direction: column;
}

.pricing-card-title {
    font-size: 2rem;
    margin-bottom: 0;
    line-height: 1;
    color: #000015;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    text-align: left;
}

.list-unstyled li {
    margin-bottom: 20px !important; 
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: black;
}

.list-unstyled li::before {
    content: "✓ "; 
    margin-right: 10px;
    color: #0275D8;
    font-size: 1.2rem;
}

.btn-outline-dark {
    background-color: #FFFFFF;
    color: #000015;
    border-color: #000015;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-dark:hover {
    background-color: #000015;
    color: #FFFFFF;
}

.btn-block {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50px;
}

.d-flex {
    display: flex;
}

.align-items-stretch {
    align-items: stretch;
}

.flex-grow-1 {
    flex-grow: 1;
}

.btn-hover {
    transition: all 0.3s ease;
}

.btn-hover:hover {
    background-color: #000015 !important;
    color: #FFFFFF !important;
    border-color: #000015 !important;
}

.card-body .list-unstyled li {
    margin-bottom: 20px !important;
    display: flex !important;
    align-items: center !important;
    font-size: 1rem !important;
    color: black !important;
}

.card-body .list-unstyled li::before {
    content: "✓ " !important;
    margin-right: 10px !important;
    color: #0275D8 !important;
    font-size: 1.2rem !important;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.support-card {
    border-radius: 15px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.support-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.support-number {
    font-size: 5rem;
    font-weight: 900;
    color: #0275D8;
    margin-right: 100px;
}

.card-title {
    font-size: 1.25rem;
    color: #000;
}

    .container {
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
    }

    
    h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    
    .support-card {
        border-radius: 15px;
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .support-card:hover {
            transform: translateY(-10px);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        }

    
    .support-number {
        font-size: 5rem;
        font-weight: 900;
        color: #0275D8;
        margin-right: 100px;
    }

    
    .card-title {
        font-size: 1.25rem;
        color: #000;
    }

    
    .btn23 {
        background-color: #343A40;
        border-color: #343A40;
        color: #fff;
    }

        .btn23:hover {
            background-color: #555;
            border-color: #555;
        }



    .section-links {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }

    .image-container {
        position: relative;
        width: 720px; 
        height: 600px;
        overflow: hidden;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(80%); 
        }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3); 
    }

        .overlay h2 {
            color: #fff;
            font-size: 32px; 
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }

    .image-container:hover {
        transform: scale(1.05);
    }

</style>
<div class="text-center mb-5">
    <h2 class="text-black py-3">AYUDANOS A APOYAR A OTROS SEA COMO:</h2>
 </div>
<div class="section-links">
    <a href="#enterprise-section">
        <div class="image-container">
            <img src="~/images/Office.png" alt="Empresa">
            <div class="overlay">
                <h2>Empresa</h2>
            </div>
        </div>
    </a>
    <a href="#people-section">
        <div class="image-container">
            <img src="~/images/shake_hands_balck_and_white_song.webp" alt="Persona">
            <div class="overlay">
                <h2>Persona</h2>
            </div>
        </div>
    </a>
</div>
</div>
<div class="container py-5" id="enterprise-section">
    <div class="text-center mb-5">
        <h2 class="text-black py-3">EMPRESAS AMIGAS</h2>
        <p style="color: #343A40;">Las empresas pueden disfrutar de diferentes beneficios sea por colaborar con un proyecto concreto o con la fundación en general, en estos beneficios se encuentran:</p>
    </div>

    <div class="row text-center">
        
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm border-dark" style="background-color: #D9E7EC;">
                <div class="card-header" style="background-color: transparent; border-bottom: none;">
                    <h4 class="my-0 fw-bold" style="color: #000015;">Empresas Colaboradoras</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title pricing-card-title" style="color: #000015;">$500 <small class="text-muted">USD</small></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start flex-grow-1" style="color: #1a1a1a; font-weight: 500;">
                        <li style="margin-bottom: 20px;">Recibimiento de un certificado de donaciones por parte de la fundación</li>
                        <li style="margin-bottom: 20px;">Beneficios tributarios</li>
                    </ul>
                    <a href="#contact-section" class="btn btn-lg btn-block btn-outline-dark rounded-pill btn-hover" style="color: #000015; font-weight: bold; text-decoration: none;">Contactanos</a>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm border-dark" style="background-color: #C2D9E1;">
                <div class="card-header" style="background-color: transparent; border-bottom: none;">
                    <h4 class="my-0 fw-bold" style="color: #000015;">Empresas Amigas</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title pricing-card-title" style="color: #000015;">$2000 <small class="text-muted">USD</small></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start flex-grow-1" style="color: #1a1a1a; font-weight: 500;">
                        <li style="margin-bottom: 20px;">Todos los beneficios de la empresa colaboradora</li>
                        <li style="margin-bottom: 20px;">Certificado de donaciones realizadas cumpliendo los requisitos para beneficios tributarios, o tipos de deducción aplicables</li>
                        <li style="margin-bottom: 20px;">Informe de los niños ayudados que se han ayudado gracias a su colaboración</li>
                        <li style="margin-bottom: 20px;">Participación en eventos anuales</li>
                    </ul>
                    <a href="#contact-section" class="btn btn-lg btn-block btn-outline-dark rounded-pill btn-hover" style="color: #000015; font-weight: bold; text-decoration: none;">Contactanos</a>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm border-dark" style="background-color: #80AEBE;">
                <div class="card-header" style="background-color: transparent; border-bottom: none;">
                    <h4 class="my-0 fw-bold" style="color: #000015;">Empresas Inversoras</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title pricing-card-title" style="color: #000015;">$5000 <small class="text-muted">USD</small></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start flex-grow-1" style="color: #1a1a1a; font-weight: 500;">
                        <li style="margin-bottom: 20px;">Todos los beneficios de la empresa amiga</li>
                        <li style="margin-bottom: 20px;">Invitación a conocer personalmente los proyectos de la fundación</li>
                        <li style="margin-bottom: 20px;">Entradas para charlas sobre prevención del cáncer</li>
                        <li style="margin-bottom: 20px;">Participación en eventos de la empresa</li>
                        <li style="margin-bottom: 20px;">Nombramiento de la empresa en la nota de prensa relativa al proyecto que se apoya</li>
                        <li style="margin-bottom: 20px;">Futuras invitaciones y conmemoración en algunos proyectos de la fundación</li>
                    </ul>
                    <a href="#contact-section" class="btn btn-lg btn-block btn-outline-dark rounded-pill btn-hover" style="color: #000015; font-weight: bold; text-decoration: none;">Contactanos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5" id="people-section">
    
    <div class="text-center mb-5" style="background: linear-gradient(90deg, #EFF5F7, #fefffe , #fefffe   );">
        <h2 class="text-black py-3">
            AYUDANOS A MARCAR UNA DIFERENCIA
        </h2>
        <p>Como persona tambien puedes ayudarnos en los diversos aspectos de la fundacion incluyendo tareas y causas</p>
    
    </div>
        <div class="row">
            
            <div class="col-md-6">
            <div class="card mb-4 shadow-sm border-dark support-card" style="background-color: #80AEBE;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-black">COMO COLABORAR</h5>
                        <p class="card-text text-black">Existen diversas formas en que puedes apoyarnos para colaborar en esta causa, hacer donaciones no es la única manera que puedes ayudarnos, entre las formas que puedes apoyarnos se encuentran:</p>
                        <button class="btn23 btn-dark rounded-pill">Soportanos</button>
                    </div>
                </div>
                <div class="text-center">
                    <img src="~/images/shake_hands_balck_and_white_song.webp" alt="Shaking hands" class="img-fluid">
                </div>
            </div>

            
            <div class="col-md-6">
                <div class="row">
                    
                    <div class="col-md-12 mb-4">
                    <div class="card support-card shadow-sm" style="background-color: #C2D9E1">
                        <div class="card-body ">
                                <span class="supportnumber"></span>
                            <h5 class="card-title font-weight-bold">DONACIONES EN DINERO</h5>
                            </div>
                        <div class="card-body ">
                                <p class="card-text">A través de nuestra pagina de donaciones puedes ayudarnos con las causas que estamos ayudando ahora o tambien puedes ayudarnos donando en la cuenta Bancolombia</p>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-md-12 mb-4">
                    <div class="card support-card shadow-sm" style="background-color: #80AEBE;">
                        <div class="card-body ">
                            <span class="supportnumber"></span>
                            <h5 class="card-title font-weight-bold ml-3 ">HORAS DE TRABAJO</h5>
                            </div>
                        <div class="card-body position-relative ">
                                <p class="card-text">De acuerdo con tu profesión o labor puedes ser voluntario por horas en nuestra Fundación colaborando en diferentes actividades</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 mb-4">
                    <div class="card support-card shadow-sm" style="background-color: #C2D9E1">
                        <div class="card-body ">
                            <span class="supportnumber"></span>
                            <h5 class="card-title font-weight-bold ml-3">HERENCIA Y LEGADOS</h5>
                            </div>
                        <div class="card-body position-relative ">
                                <p class="card-text">Si deseas apoyar nuestra labor y ayudarnos a salvar vidas puedes hacer donaciones especiales, para lo cual puedes contactarnos por medio de nuestro celular</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 mb-4">
                    <div class="card support-card shadow-sm" style="background-color: #80AEBE;">
                        <div class="card-body">
                            <span class="supportnumber"></span>
                            <h5 class="card-title font-weight-bold ml-3 ">CUENTOS INFANTILES</h5>
                            </div>
                        <div class="card-body position-relative ">
                                <p class="card-text">Recibimos en buen estado cuentos para mantener nuestras bibliotecas infantiles</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 mb-4">
                    <div class="card support-card shadow-sm" style="background-color: #C2D9E1">
                        <div class="card-body">
                            <span class="supportnumber"></span>
                            <h5 class="card-title font-weight-bold ml-3 ">REGALOS EN FECHAS ESPECIALES</h5>
                            </div>
                        <div class="card-body position-relative ">
                                <p class="card-text">Donaciones en dinero o juguetes en días especiales como Navidad, Día Del Niño, y Halloween</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact-section" class="contact-me-section" style="background-color: #f2f2f2; padding: 20px; text-align: center;">
            <h2>Contacta Con Nosotros</h2>
            <p>Si tienes alguna pregunta o deseas apoyar nuestra causa, no dudes en contactarnos.</p>
            <div class="contact-details">
                <p><strong>Email:</strong> <a href="mailto:fundacioncanceroralinfantil@gmail.com">fundacioncanceroralinfantil@gmail.com</a></p>
                <p><strong>Teléfono:</strong> 3002009249</p>
                <p><strong>Dirección:</strong> Bogotá, Colombia</p>
            </div>
        </div>

</div>
